/*
.bar {
fill: steelblue;
}

.bar:hover {
fill: brown;
}

.axis--x path {
display: none;
}*/
h2{
  line-height: 1.2em;
}
.axis path, .axis line { fill: none; stroke: black; shape-rendering: crispEdges;
}
.bar, .bubble { fill: steelblue; stroke: white; cursor: pointer}
.x.axis path
{ display: none; }
.text{
  color: #0A2933;
  fill: #0A2933;
  stroke: #0A2933;
}
